.menu-bar {
    display: flex;
    flex-direction: row;
    padding-left: 8px;

    & .button {
        height: 24px;
        line-height: 24px;
    }

    & .drop-down-menu {

        margin: 2px 2px;
        position: relative;

        & hr {
            border: none;
            border-top: 1px solid #ffffff40;
            margin: 2px 0px;
        }

        &[active=true] > .drop-down {
            display: block;
        }

        &[active=true] > .drop-down-toggle {
            background-color: #ffffff10;
            
        }

        & .drop-down {
            display: none;
            position: absolute;
            bottom: 0px;
            transform: translateY(100%);
            border: 1px solid #888;
            border-radius: 4px;
            width: 280px;
            background-color: #222222;
            z-index: 1;
            user-select: none;

            &.drop-down-side {
                right: 0px;
                top: 0px;
                transform: translateX(100%);
                bottom: unset;
            }

            & .drop-down-option {
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                padding: 8px;
                &:hover {
                    background-color: #ffffff10;
                }
            }
        }
    }

    & .icon {
        font-size: 18px;
    }
}

.shortcut {
    float: right;
    color: #aaa;
}

.filepath {
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
    vertical-align: bottom;
    float: right;
}

.expand-indicator {
    font-family: 'Segoe MDL2 Assets';
    font-size: 14px;
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}