.editor-area {
    background-color: #181818;
    border-top: 1px solid #ffffff30;
    overflow-y: scroll;
    overflow-x: hidden;

    cursor: text;

    & .text-edit {
        
        transform-origin: 0px 0px;
        scale: var(--editor-zoom);
        outline: none;
        border: none;
        padding: 16px;

        /*min-height: 100%;*/

        white-space: pre-wrap;
        
    }
    
    & .overflow-area {
        border-top: #ffffff30 dotted 1px;
        height: calc( 100% - 50px );
    }


    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        border: solid 4px transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        box-shadow: inset 0 0 10px 10px #ffffff50;
        border: 4px solid transparent;
    }

}

