.title-bar {

    --title-bar-height: 32px;
    height: 32px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    user-select: none;

    & .save-indicator {
        margin-right: 8px;
    }

    & > .title {

        & > img {
            height: calc( var(--title-bar-height) - 16px );
            padding: 8px;
            vertical-align: middle;
        }

        & > span {
            height: var(--title-bar-height);
            line-height: var(--title-bar-height);
            font-size: 14px;
        }
    }

    & > .drag-region {
        opacity: 0.9;
        margin-top: 4px;
        text-align: center;
        font-size: 14px;

    }

    & > .window-controls {
        display: flex;
        flex-direction: row;
        & > input {
            display: block;
            cursor: default;
            padding: 0px 4px;
            height: var(--title-bar-height);
            --highlight-color: #ffffff05;

            &:hover {
                background-color: var(--highlight-color);
            }
        }
    }

}